@font-face {
    font-family: Poppins-regular;
    src: url('/Fonts/Poppins-Regular.ttf');
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Poppins-regular;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

th,td{
    border: 1.5px solid #4444;
    border-left: 0;
    border-right: 0;
    padding: 20px;
}
button{
    background-color: #dc3545;
    padding: 1rem 2rem;
    border-radius: 7px;
    border:none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}